LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=http://langfuse-langfuse-web-1:3000

LITELLM_MASTER_KEY=
DATABASE_URL=postgresql://litellm:litellm@litellm-postgres:5432/litellm

OPENAI_API_KEY=
ANTHROPIC_API_KEY=
